li {
    position: relative;
    height: 3rem;
}

li span {
    position: absolute;
    right: 30px;
}

.fa-solid {
    cursor: pointer;
    padding: 0.3rem;
}

.fa-solid:hover {
    color: red; 
}

.completed {
    text-decoration: line-through;
}